
$color-dark-purple-light: rgb(173, 93, 222);
$color-red-dark: rgb(140, 0, 18);
$color-orange-light: rgb(255, 193, 76);
$color-blue-duck: rgb(0, 156, 166);
$color-ze-hover: rgba(50, 169, 224, 0.7);
$color-dark-blue-hover: rgb(23, 73, 196);
$color-green-hover: rgb(139, 222, 127);
$color-dark-purple-hover: rgb(145, 67, 194);
$color-ze: rgb(50, 169, 224);
$color-dark-blue: rgb(0, 51, 160);
$color-green: rgb(115, 195, 102);
$color-orange-hover: rgb(255, 165, 28);
$color-dark-purple: rgb(92, 6, 140);
$color-orange: rgb(255, 130, 0);
$color-orange-dark: rgb(235, 101, 0);
$color-dark-purple-dark: rgb(67, 0, 104);
$color-red-light: rgb(255, 110, 106);
$color-dark-green-light: rgb(124, 247, 207);
$color-blue-light: rgb(122, 197, 255);
$color-green-dark: rgb(78, 161, 71);
$color-dark-blue-dark: rgb(0, 34, 128);
$color-purple-light: rgb(215, 80, 179);
$color-red-hover: rgb(232, 82, 82);
$color-renault-light: rgba(255, 204, 51, 0.15);
$color-blue-duck-dark: rgb(0, 103, 114);
$color-dark-green-hover: rgb(85, 210, 172);
$color-blue-hover: rgb(91, 170, 255);
$color-red: rgb(203, 51, 59);
$color-purple-hover: rgb(186, 49, 152);
$color-dark-green: rgb(0, 155, 119);
$color-blue: rgb(0, 119, 200);
$color-purple: rgb(158, 0, 126);
$color-renault-hover: rgba(255, 204, 51, 0.7);
$color-blue-duck-light: rgb(119, 238, 248);
$color-renault: rgb(255, 204, 51);
$color-purple-dark: rgb(129, 0, 101);
$color-ze-light: rgba(50, 169, 224, 0.5);
$color-dark-blue-light: rgb(0, 110, 214);
$color-green-light: rgb(167, 251, 154);
$color-blue-dark: rgb(0, 72, 160);
$color-blue-duck-hover: rgb(88, 209, 220);
$color-dark-green-dark: rgb(0, 103, 71);
$size-xxxl: 64px;
$size-xxl: 48px;
$size-xl: 36px;
$size-l: 24px;
$size-m: 16px;
$size-s: 13px;
$size-xs: 11px;
$font-heading: 'Fira Sans', Helvetica, Arial, sans-serif;
$font-text: 'Fira Sans', Helvetica, Arial, sans-serif;
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-normal: 400;
$weight-light: 300;
$opacity-disabled: 0.5;
$height-footer: 64px;
$tappable-square: 44px;
$duration-quickly: 0.08s;
$duration-slowly: 0.5s;
$z-index-modal: 9999;
$z-index-sticky: 100;
$media-query-m: (min-width: 768px);
$media-query-l: (min-width: 1024px);
$shadow-s: 0 0 0 1px rgba(92,106,196,.1);
$spacing-xl: 2px;
$spacing-l: 1px;
$spacing-m: 0;
$spacing-s: -0.5px;
$spacing-xs: -1px;
$radius-default: 3px;
$radius-circle: 50%;
$space-xxl: 128px;
$space-xl: 64px;
$space-l: 48px;
$space-m: 24px;
$space-s: 16px;
$space-xs: 8px;
$space-xxs: 4px;
$line-height-m: 1.6;
$line-height-s: 1.3;
$line-height-xs: 1;
